#header {
    height: 50px;
    background: #10284e;
    color:#fff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #ff8c00;
}
.module h2, .module caption, .inline-group h2 {
    background: #ff8c00;
}
