{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Real Estate {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
</head>

<body>
        
    <!-- Top Bar -->
    {% include 'partials/_topbar.html' %}
    <!-- Nav Bar -->
    {% include 'partials/_navbar.html' %}
    <!-- Main Content -->
    {% block content %} {% endblock %}
    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %} "></script>    
    

</body>

</html>